@import url(estilos.css);
body {
    text-align: center;
    background-color: hsl(210,50%,20%);
	background: url(bg.png), linear-gradient(90deg, hsl(210,40%,12%), hsl(210,40%,20%), hsl(210,40%,12%));
	}
section{
    height: 25vh;       
}

.titulo img{
    width: 300px;
    animation: nube 10s infinite;
}
@keyframes nube{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    50%{
        opacity: 1;
        transform: translateX(20px);
    }
    100%{
        opacity: 0;
        transform: translateX(30px);

    }
}

h2{
    position: relative;
    transform: translateY(-40%);
    width: 100%;
    text-align: center;
    color: rgb(98, 98, 98);
    font-size: 2.5em;
    
}
h2 span{
    display: inline-block;
    animation: animate 1s linear forwards;
    opacity: 0;
    /* border-bottom: solid 1px  gray; */
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }

}
h2 span:nth-child(1){
    animation-delay: 1s;
}
h2 span:nth-child(2){
    animation-delay: 1.5s;
}
h2 span:nth-child(3){
    animation-delay: 2s;
}
h2 span:nth-child(4){
    animation-delay: 2.5s;
}
h2 span:nth-child(5){
    animation-delay: 3s;
}
h2 span:nth-child(6){
    animation-delay: 3.5s;
}
h2 span:nth-child(7){
    animation-delay: 4s;
}
h2 span:nth-child(8){
    animation-delay: 4.5s;
}
h2 span:nth-child(9){
    animation-delay: 5s;
}
h2 span:nth-child(10){
    animation-delay: 5.5s;
}
h5{
    color:transparent;
}
.container-slider{
    width: 90%;
    max-width: 900px;
    height: 50%;
    margin: auto;
    overflow: hidden;
    box-shadow: -14px 14px 28px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -14px 14px 28px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 14px 28px -5px rgba(0,0,0,0.75);
    margin-bottom: 2em;
    border-radius: 5px;
    position: relative;
}
.slider{
display: flex;
width: 1000%;
height: 300px;
margin-left: -100%;
}

.slider__section{
width: 100%;
}
.slider img{
display: block;
width: 100%;
height: 100%;
object-fit: contain;
padding:15px;
margin-left: 15%;

}


.slider__btn{
position: absolute;
width: 25px;
height: 25px;
background: var(--gris_1);
top: 50%;
transform: translateY(-50%);
font-size: 20px;
font-family: monospace;
font-weight: bold;
text-align: center;
border-radius: 50%;
cursor: pointer;
color: gray;
}
.slider__btn:hover{
background-color: #fff;
color: black;

}
.slider__btn--left{
left: 10px;
}
.slider__btn--right{
right: 10px;

}
article p{
    color: white;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    padding: 20px;
}
article hr{
    margin-left:5%;
    margin-right: 5%;
}
.Hogwarts{
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'harry_p';
    position: relative;
    
    text-shadow: 0.05em 0 0 rgba(251, 251, 251, 0.75),
        -0.025em -0.05em 0 rgba(135, 241, 135, 0.75),
        0.025em 0.05em 0 rgba(148, 148, 238, 0.75);
        
    animation: glitch 900ms infinite;
}
@keyframes glitch {
    0%{
        text-shadow: 0.05em 0 0 rgba(248, 101, 4, 0.75),
    -0.05em -0.025em 0 rgba(99, 179, 99, 0.75),
    -0.025em 0.05em 0  rgba(91, 91, 105, 0.75);
    }
    15% {
        text-shadow: -0.05em -0.025em 0 rgba(248, 101, 4, 0.75),
            0.025em 0.025em 0 rgba(99, 179, 99, 0.75),
            -0.05em -0.05em 0   rgba(91, 91, 105, 0.75);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 rgba(248, 101, 4, 0.75),
            0.05em 0 0  rgba(99, 179, 99, 0.75),
            0 -0.05em 0  rgba(91, 91, 105, 0.75);
    }
    100% {
        text-shadow: -0.025em 0 0 rgba(248, 101, 4, 0.75),
            -0.025em -0.025em 0 rgba(99, 179, 99, 0.75),
            -0.025em -0.05em 0 rgba(91, 91, 105, 0.75);
    }
    
}
footer{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url(/assents/img/Hogwarts.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: cover;
    margin-top: 100px;
    
}
footer img{
    width: 40px;
    background: black;
    border-radius: 50%;
    padding: 5px;
}
footer h5{
    color: white;
}
footer .salo{
border-radius: 10px;
width: 80px;
}
.wrapper{
    padding: 20px;
    background:#333
  }
  .wrapper .button{
    background: #222;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -3px -3px 7px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }

  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    background: white;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #333;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #dd247d;
  }
  .wrapper .button .icon{
    font-size: 20px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover {
    color: white;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    margin-left: 10px;
  }

  .wrapper .button:nth-child(1):hover span a{
    color: rgb(98, 97, 97);
  }
  .wrapper .button:nth-child(2):hover span a{
    color: #dd247d;
  }
  .button a{
    text-decoration: none;
    background: none;
    border: none;
    font-size: 1em;
  }
 
  .copy{
      color: white;
      background: #222;
      padding: 20px;
      text-align: center;
      font-size: 20px;
  }

@media all and (min-width: 768px){
    .container-slider{
        height:650px;
    }
    p{
        font-size:16px ;
    }
    .slider{
        height: 600px;
    }
    .slider img{
        object-fit: contain;
        padding:50px;
    }
    .slider__btn{
        position: absolute;
        width: 50px;
        height: 50px;
        font-size: 35px;
    }
    .titulo img{
        width: 550px;
    }
    h2{
        position: relative;
        transform: translateY(-40%);
        width: 100%;
        margin-top: 50px;
        text-align: center;
        font-size: 4em;
    }
    article p{
        color: white;
        padding: 50px;
        font-size: 18px;
        text-align: justify;
    }
    h5{
        color: white;
        text-align: center;
        font-size:20px;
    }
    footer{
        height: 200px;
        margin-top: 250px;
        padding: 40px;  
    }
    
    footer h5{
        font-family: 'harry_p', sans-serif;
        font-size:18px;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }
    .Hogwarts{
        font-size: 3rem;
        font-weight: 600;
        letter-spacing:5px;
        position: relative;
        
        text-shadow: 0.05em 0 0 rgba(251, 251, 251, 0.75),
            -0.025em -0.05em 0 rgba(135, 241, 135, 0.75),
            0.025em 0.05em 0 rgba(148, 148, 238, 0.75);
            
        animation: glitch 900ms infinite;
    }
    @keyframes glitch {
        0%{
            text-shadow: 0.05em 0 0 rgba(248, 101, 4, 0.75),
        -0.05em -0.025em 0 rgba(99, 179, 99, 0.75),
        -0.025em 0.05em 0  rgba(91, 91, 105, 0.75);
        }
        15% {
            text-shadow: -0.05em -0.025em 0 rgba(248, 101, 4, 0.75),
                0.025em 0.025em 0 rgba(99, 179, 99, 0.75),
                -0.05em -0.05em 0   rgba(91, 91, 105, 0.75);
        }
        50% {
            text-shadow: 0.025em 0.05em 0 rgba(248, 101, 4, 0.75),
                0.05em 0 0  rgba(99, 179, 99, 0.75),
                0 -0.05em 0  rgba(91, 91, 105, 0.75);
        }
        100% {
            text-shadow: -0.025em 0 0 rgba(248, 101, 4, 0.75),
                -0.025em -0.025em 0 rgba(99, 179, 99, 0.75),
                -0.025em -0.05em 0 rgba(91, 91, 105, 0.75);
        }
        
    }
    footer img{
        width: 60px;
    }
        
    footer .salo{
        width: 100px;
        border-radius: 10%;
        padding: 10px;
    }

}
@media all and (min-width: 1024px){

    .container-slider{
        height:650px;
    }

    .slider{
        height: 600px;
    }
    .slider img{
        object-fit: contain;
        padding:50px;
    }
    .slider__btn{
        position: absolute;
        width: 50px;
        height: 50px;
        font-size: 35px;
    }
    .titulo img{
        width: 550px;
    }
    h2{
        position: relative;
        transform: translateY(-40%);
        width: 100%;
        margin-top: 50px;
        text-align: center;
        font-size: 4em;
    }
    article p{
        color: white;
        padding: 50px;
        font-size: 18px;
        text-align: justify;
    }
    figure h5{
        margin-left: 20%;
        font-family: 'cj_potter_handwriting';
    }
    h5{
        color: white;
        text-align: center;
        font-size:20px;
    }
    footer{
        height: 200px;
        margin-top: 200px;
        padding: 40px;  
    }
    
    footer h5{
        font-family: 'harry_p', sans-serif;
        font-size:18px;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }
    .Hogwarts{
        font-size: 5rem;
        font-weight: 600;
        letter-spacing:5px;
        position: relative;
        
        text-shadow: 0.05em 0 0 rgba(251, 251, 251, 0.75),
            -0.025em -0.05em 0 rgba(135, 241, 135, 0.75),
            0.025em 0.05em 0 rgba(148, 148, 238, 0.75);
            
        animation: glitch 900ms infinite;
    }
    @keyframes glitch {
        0%{
            text-shadow: 0.05em 0 0 rgba(248, 101, 4, 0.75),
        -0.05em -0.025em 0 rgba(99, 179, 99, 0.75),
        -0.025em 0.05em 0  rgba(91, 91, 105, 0.75);
        }
        15% {
            text-shadow: -0.05em -0.025em 0 rgba(248, 101, 4, 0.75),
                0.025em 0.025em 0 rgba(99, 179, 99, 0.75),
                -0.05em -0.05em 0   rgba(91, 91, 105, 0.75);
        }
        50% {
            text-shadow: 0.025em 0.05em 0 rgba(248, 101, 4, 0.75),
                0.05em 0 0  rgba(99, 179, 99, 0.75),
                0 -0.05em 0  rgba(91, 91, 105, 0.75);
        }
        100% {
            text-shadow: -0.025em 0 0 rgba(248, 101, 4, 0.75),
                -0.025em -0.025em 0 rgba(99, 179, 99, 0.75),
                -0.025em -0.05em 0 rgba(91, 91, 105, 0.75);
        }
        
    }
    footer img{
        width: 70px;
    }
        
    footer .salo{
        width: 100px;
        border-radius: 10%;
        padding: 10px;
        font-family: 'cj_potter_handwriting';
    }

}

